*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
margin:0;
padding:0;
font-family:"Segoe UI", sans-serif;

background-image:
linear-gradient(rgba(255, 255, 255, 0.6), rgba(255,255,255,0.6)),
url("./images/sky-bg.jpg");

background-size:cover;
background-position:center;
background-repeat:no-repeat;
background-attachment:fixed;
}

/* NAVBAR */

.navbar{

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 80px;

backdrop-filter:blur(15px);

background:rgba(255,255,255,0.35);

border-radius:40px;

margin:20px;

}

.logo{

display:flex;
align-items:center;
gap:10px;

}

.logo img{

height:40px;

}

nav{

display:flex;
align-items:center;
gap:30px;

}

nav a{

text-decoration:none;
color:#2c3e50;
font-weight:500;

}


/* HERO */

.hero{

text-align:center;
padding:120px 20px;

}

.hero h1{

font-size:48px;
margin-bottom:20px;

}

.hero p{

font-size:18px;
margin-bottom:30px;

}


.hero-buttons{

display:flex;
justify-content:center;
gap:20px;

}


/* BUTTONS */

.primary-btn{

background:linear-gradient(135deg,#4a8cff,#2563eb);

border:none;
color:white;

padding:12px 24px;

border-radius:12px;

cursor:pointer;

transition:0.3s;

}

.primary-btn:hover{

transform:translateY(-3px);
box-shadow:0 10px 20px rgba(0,0,0,0.15);

}

.big{

font-size:18px;
padding:16px 32px;

}

.secondary-btn{

background:white;
border:none;

padding:12px 20px;

border-radius:12px;

cursor:pointer;

}


/* FEATURES */

.features{

text-align:center;
padding:80px 20px;

}

.feature-grid{

display:flex;
justify-content:center;
gap:40px;

margin-top:40px;

}

.feature-card{

background:rgba(255,255,255,0.5);

padding:30px;

width:260px;

border-radius:20px;

backdrop-filter:blur(10px);

transition:0.3s;

}

.feature-card:hover{

transform:translateY(-10px);

}


/* DASHBOARD */

.dashboard{

text-align:center;

padding:100px 20px;

}

.dashboard-container{

display:flex;

justify-content:center;

gap:40px;

margin-top:40px;

}


.overall-card{

background:rgba(255,255,255,0.5);

padding:40px;

border-radius:20px;

width:240px;

}

.overall-card h1{

font-size:42px;
color:#2563eb;

}


.table-card{

background:rgba(255,255,255,0.6);

padding:30px;

border-radius:20px;

}


table{

border-collapse:collapse;

}

th,td{

padding:12px 20px;

}

th{

background:#3b82f6;
color:white;

}

.safe{

color:green;

}

.warning{

color:orange;

}

.danger{

color:red;

}


/* FOOTER */

footer{

text-align:center;
padding:40px;

}